.section__partners {
  margin-top: 100px;
  @media (max-width: $breakpoint992) {
    margin-top: 60px;
  }
  @media (max-width: $breakpoint480) {
    margin-top: 30px;
  }
}

.partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}